html {
	height: 100%;
	width: 100%;
	 background:   linear-gradient(
	   rgba(26, 25, 25, 0.801), 
	   rgba(26, 25, 25, 0.801)
	 ), url("../images/arena.jpg") no-repeat center center fixed; 
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	 
	   
   }
   
   
   h1, h2 {
	   color: white;
   }
   
   body {
	   height:100%;
	   width: 100%;
	   background-color: transparent;
	   
   }
   
   .panel {
	   display: inline-block;
	   margin: 10px;
	   text-align: center;
   }
   
   .panel img {
	   max-height: 200px;
	   width: auto;
   }
   
   #status {
	   color: white;
	   font-family: 'Fjalla One', sans-serif;
	   font-size: 20px;
	   text-align: center;
	   margin-left: 25px;
	   margin-right: 25px;
		   
   }
   
   .panel-body {
	   background-color: black;
	   border: none;
   }
   
   #logo {
	   display: block;
	   margin-left: auto;
	   margin-right: auto;
	   margin-top: 25px;
	  
   }
   
   	 
	 .main-container{
		 width: 100%;
		 max-width: 800px;
		 margin: 0 auto;
		 clear: both;
	 }
	 
	 .header{
		 width: 800px;
		 max-width: 800px;
		 height: 170px;
		 margin: 0 auto;
		 clear: both;
		 text-align: center;
		 justify-content: center;
	 }
	 

	 
	 
	 #wrestler{
		 width: 810px;
		 height: 50px ;
		 max-width: 100%;
		 margin: auto 0;
		border-bottom: solid red 5px;
	
	 }
	 
	 .character {
			  
		 width: 150px;
		 height: 150px;
	 }
	 
	 .arena{
		 clear: both;
		 position: relative;
		 margin-left: auto;
		 margin-right: auto;
		 width: 800px;
		 max-width: 800px;
		 height: 360px;
		 margin-bottom: 10px;
	 }
	 
	 #wrestling-ring{
	   display: block;
	   margin-left: auto;
	   margin-right: auto;
		 width: 800px;
		 margin-bottom: 100px;
		 margin-top: 250px;;
		 height: auto;
		 border: solid red 5px;
		 z-index:1;
		 
	 }
	 
	 #player-fight-area{
		 position: absolute;
		 left: 100px;
		 top: 80px;
		 width: 150px;
		 height: 150px;
		 margin: 0px;
	 }
   
	 #announcer-area{
	   position: absolute;
	   left: 100px;
	   top: 80px;
	   width: 150px;
	   height: 150px;
	   margin: 0px;
   }
   
	 #attack-area{
	   position: absolute;
	   left:360px;
	   top: 180px;
	   width: 50px;
	   height: 50px;
	   margin: 0px;
   }
     
   
   #restart-area{
	   position: absolute;
	   left:360px;
	   top: 280px;
	   width: 50px;
	   height: 50px;
	   margin: 0px;
   }
   
   .status-area{
	   background-color: rgba(0, 0, 0, 0.781);
	   position: absolute;
	   left:0px;
	   top: 380px;
	   width: 100%;
	   height: auto;
	   margin-bottom: 50px;
	   margin-right: 50px;
	   z-index:2;
	   
   }
   
   #announcement-area{
	   background-color:  rgba(0, 0, 0, 0.781);
	   color: white;
	   font-family: 'Fjalla One', sans-serif;
	   font-size: 20px;
	   position: absolute; 
	   right: 125px;
	   top: 20px;
	   width: 300px;
	   height: auto;
	   margin: 15px;
	   padding: 15px;
   }
   
	 
	 #opponent-fight-area{
		 position: absolute; 
		 right: 125px;
		 top: 80px;
		 width: 150px;
		 height: 150px;
		 margin: 0px;
	 }
   	 
	 
	 #select-text {
		 width: 800px;
		 height: 50px;
		 line-height: 50px;
		 text-align: center;
		 font-family: 'Fjalla One', sans-serif;
		 font-size: 26px;
		 color: rgb(233, 237, 7);
	 }
	
	 #fightSection {
	   width: 800px;
	   max-width: 800px;
	   height: 170px;
	   margin: 0 auto;
	   clear: both;
	   text-align: center;
	   justify-content: center;
	 }
   
	 #defenderArea {
		 position: absolute;
		   vertical-align: middle;
		   max-height: 150px;
		   max-width: 150px;
		   
   
					
	 }
   
	 